/* --- CSS Section --- */
.quiz-question {
  margin-bottom: 10px;
  text-align: left;
  font-size: 17px;
  color: #f44336;
  font-weight: bold;
}

.quiz-button {
  display: inline-block;
  text-decoration: none;
  color: #111;
  border: 1px solid #f44336;
  padding: 5px 10px; 
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px; /* Button aur answer ke beech gap */
}

.quiz-button:hover {
  color: #fff;
  background: #f44336;
  transition: 0.3s; 
}

.quiz-answer {
  /* Initially hidden, use 'block' for visibility */
  display: none; 
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f0f8ff;
  font-size: 16px;
}

.quiz-answer b {
    color: #0056b3;
}

.part-content {
    max-width: 100%;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: #fff;
}
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}
